{% extends "cover/layout.html" %}
{% load static %}
{% load bootstrap3 %}

{% block contents %}

<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <form method="post" enctype="multipart/form-data">
                <table>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} ORLY GENERATOR
                    </button>
                {% endbuttons %}
                </table>
            </form>
        </div>
        <div class="col-sm-3">
            {% if form.get_params %}
                <img src="{% url "cover:image_generator" %}?{{ form.get_params }} "/>
            {% else %}
                <img src="{% static 'img/generate.png' %}"/>
            {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
    {% for i in anymal_list %}
        <div class="col-lg-1">
            <h2>{{ i }}</h2>
            <img src="{% static 'img/animal_img/' %}{{ i }}.png" height="100px" width="100px">
        </div>
    {% endfor %}
    </div>
</div>
<div class="container-fluid">
    <div class="row">
    {% for color in color_list %}
        <div class="col-lg-1">
            <h2>{{ i }}</h2>
            <label style="color:white; background-color:{{ color }}">{{ forloop.counter0 }}color</label>
        </div>
    {% endfor %}
    </div>
</div>


{% endblock %}

{% block extra_script %}
{% endblock %}